body{
    font-family: Arial, sans-serif;
    background:#f2f2f2;
    margin:0;
}

header{
    background:#ff5a5f;
    color:white;
    text-align:center;
    padding:20px;
}

.search{
    text-align:center;
    margin:20px;
}

.search input{
    padding:10px;
    width:300px;
}

.container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:250px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

button{
    background:#ff5a5f;
    color:white;
    border:none;
    padding:10px;
    cursor:pointer;
}